<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540696413366-5t641frtbh219u4usl0j4b6iijj7572d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540696413366-5t641frtbh219u4usl0j4b6iijj7572d</string>
	<key>API_KEY</key>
	<string>AIzaSyDM10hFgqOdycwl0zxqcapW7zf8LGVY1yM</string>
	<key>GCM_SENDER_ID</key>
	<string>540696413366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assign1</string>
	<key>PROJECT_ID</key>
	<string>my-assign-signup</string>
	<key>STORAGE_BUCKET</key>
	<string>my-assign-signup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540696413366:ios:841e0b9bed3ca518181217</string>
</dict>
</plist>